.ord__header {
  text-align: center;
}

.ord__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  li {
    border: 2px solid dimgray;
    border-radius: 3px;
    padding: 15px;
    background: dimgray;
    color: #fff;
    width: 30%;
    p {
      margin-bottom: 5px;
    }
  }
}
.ord__btn {
  margin-top: 25px;
  padding: 5px 10px;
  border: 1px solid #fff;
  background: dimgray;
  color: #fff;
  font-weight: bold;
  &:hover {
    color: dimgray;
    background: #fff;
    transition: 0.3s;
  }
}
